data/
deploy/

*.aof
*.rdb


WINDSURF.md
GEMINI.md
CLAUDE.md
CHATGPT.md
VSCODE.md

*.env
.vscode/
.idea/
.DS_Store

*.log
*.tmp

node_modules/

dist/
build/

*.egg-info/
*.egg
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local
.env.*.local
